{% extends 'base.html' %}

{% block page_title %}
    {{ title }}
{% endblock page_title %}

{% block content %}
<div class = "container">
    <form method = "POST">
        {% csrf_token %}
        <div class = "form-group">
            <label > Judul</label>
            {{watchlist_form.title}}
        </div>
        <div class = "form-group">
            <label > Apakah pernah ditonton?</label>
            {{watchlist_form.watched}}
        </div>
        <div class = "form-group">
            <label > Rating berapa?</label>
            {{watchlist_form.rating}}
        </div>
        <div class = "form-group">
            <label > Tanggal Rilis</label>
            {{watchlist_form.release_date}}
        </div>
        <div class = "form-group">
            <label > Review</label>
            {{watchlist_form.review}}
        </div>
        <button type ="submit" class = "btn btn-primary">Tambah</button>
    </form>
</div>
{% endblock content %}